# Virtual environments
venv*/
.env/

# Secrets folder e.g. for credentials
secrets/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

#Docker Images
.tar

# Build outputs
build/
dist/
*.egg-info/